header {
  z-index: 9;
  width: 100%;
  height: var(--header-height);
  max-height: var(--header-max-height);
  background-color: var(--main-bg-clr);
  border-bottom: 1px solid var(--main-border-color);
  color: var(--main-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--section-side-paddings);
  position: fixed;
  transition: 0.3s transform;
}

.header__controls--container {
  height: 2rem;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 var(--section-side-paddings-s);
  }
  .header__controls--container {
    flex: 1;
    height: 100%;
    display: grid;
    gap: 0.5rem;
    align-content: center;
    justify-content: right;
    justify-items: right;
    grid-template-columns: repeat(3, 2rem);
    grid-template-rows: repeat(2, auto);
  }

  .card__icon {
    grid-row: 2/3;
    grid-column: 3/4;
  }
}
